input[type=text],
input[type=number],
input[type=search] {
    border-radius: 4px;
    border-width: thin;
    border-color: var(--opacity-secondary);
    height: 48px;
}

input:focus-visible {
    outline: 1px solid var(--primary);
}