:root {
    --white: #fff;
    --primary: #007bff;
    --hover-primary: #0d9af2;
    --secondary: #424243;
    --opacity-secondary: #4242432b;
    --tertiary: #f0f3f4;

    --feedback-error: #F55050;
    --feedback-success: #1F8A70;
}